<div class="container">
  <app-cockpit (srvCreated)="onServerAdded($event)"></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="changeFirstEl()">Change title of first el</button>

      <button class="btn btn-primary" (click)="removeFirstEl()">Remove first el</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.serverContent
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.type
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
